* {
    box-sizing: border-box;
}

@font-face{
    font-family: SpaceGrotesk;
    src: url("../../public/fonts/SpaceGrotesk-VariableFont_wght.ttf")
}

:root {
    --purple: #7945FF;
    --dark-purple: #5C2DD5;
    --yellow: #FFCE67;
    --pink: #FD6687;

    --shadow: 0 10px 0 #000;
    --shadow-hover: 0 10px 0 var(--dark-purple);
}

/* GENERAL */

html, body {
    margin: 0;
    background: var(--purple);
    font-family: SpaceGrotesk;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0 0 .5em;
}

h2 {
    margin: 0 0 1em;
}

p {
    margin: 0 0 2em;
}

button {
    font-weight: bold;
    font-family: SpaceGrotesk;
}

button:hover {
    cursor: pointer;
}

/*-----------------------------TABLET VIEWPORT-------------------------------*/

@media (min-width: 700px){
    
}

/*-----------------------------DESKTOP VIEWPORT-------------------------------*/

@media (min-width: 1000px){
    
}